@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    135deg,
    #0f172a,
    #1e1b4b,
    #312e81,
    #581c87
  );
  min-height: 100vh;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}